<!--<!doctype html>
<html>
<body>-->
<div>
    <div>
        <script type="text/ng-template" id="group-template.html">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </script>
        <div class="alert alert-info" ng-show="$ctrl.message"  align="center">
            <strong>You have not run any missions yet!</strong>
        </div>
        <uib-accordion close-others="oneAtATime" ng-repeat="mission in $ctrl.missions ">
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading >{{$index+1}} . {{mission.missionName}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <p>ID : {{mission.id}}</p>

                <p>Drone's coordinates at the beginning:</p>
                <p>x: {{mission.startNavigationData.x}}</p>
                <p>y: {{mission.startNavigationData.y}}</p>
                <p>z: {{mission.startNavigationData.z}}</p>

                <p>Drone's coordinates at the end:</p>
                <p>x: {{mission.finishNavigationData.x}}</p>
                <p>y: {{mission.finishNavigationData.y}}</p>
                <p>z: {{mission.finishNavigationData.z}}</p>

                <p>Battery status: </p>
                <div class="progress" style="width: 640px">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{mission.batteryStatus}}%;">
                        {{mission.batteryStatus}}%
                    </div>
                </div>
                <div id="slides_control">
                    <div>
                        <uib-carousel interval="$ctrl.myInterval" active="$ctrl.activeSlide">
                            <uib-slide ng-repeat="image in mission.images" index="$index">
                                <img ng-src="data:image/png;base64,{{image.imageBase64}}">
                                <div class="carousel-caption">
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                </div>



            </div>

        </uib-accordion>

    </div>
</div>
<!--</body>
</html>-->


var module = require('main_module');

function Controller($scope, MissionService) {

var vm = this;
vm.missions = {};
vm.information = {};
vm.results = {};
vm.message = false;
$scope.oneAtATime = true;


vm.myInterval = 3000;
vm.noWrapSlides = false;
vm.activeSlide = 0;

vm.$onInit = function() {
_loadList();

};

function _loadList() {
MissionService.getAllMissionsResults().then(
function (response) {
vm.missions = response.data;
console.log(vm.missions.length);
if(vm.missions.length == 0){
vm.message = true;
console.log(vm.message);
}

vm.missions.forEach(function (mission) {

mission.startNavigationData.x = mission.startNavigationData.x || 0;
mission.startNavigationData.y = mission.startNavigationData.y || 0;
mission.startNavigationData.z = mission.startNavigationData.z || 0;

mission.finishNavigationData.x = mission.finishNavigationData.x || 0;
mission.finishNavigationData.y = mission.finishNavigationData.y || 0;
mission.finishNavigationData.z = mission.finishNavigationData.z || 0;

mission.startNavigationData.x = Math.round( mission.startNavigationData.x*100)/100;
mission.startNavigationData.y = Math.round( mission.startNavigationData.y*100)/100;
mission.startNavigationData.z = Math.round( mission.startNavigationData.z*100)/100;
mission.finishNavigationData.x = Math.round( mission.finishNavigationData.x*100)/100;
mission.finishNavigationData.y = Math.round( mission.finishNavigationData.y*100)/100;
mission.finishNavigationData.z = Math.round( mission.startNavigationData.z*100)/100;
});
$scope.status = false;
},
function (err) {
console.log('Error',err);
});
}
$scope.status = {
isCustomHeaderOpen: false,
isFirstOpen: true,
isFirstDisabled: false
};
}

Controller.$inject = ['$scope','MissionService'];
require('./list.scss');
module.component('missionList', {
controller: Controller,
templateUrl: require('./list.html')
});

