#slides_control{
    width: 640px;
}

.msi-content{
    width: 700px;
    margin: auto;
}
.alert-mission-list {
   width:97%;
   height: 50px;
}

video#bgvid  {
background: url("/load.jpg") no-repeat;
background-size: cover;
}
