<div>
    <script type="text/ng-template" id="group-template.html">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </script>
    <uib-accordion close-others="oneAtATime" ng-repeat="mission in $ctrl.missions ">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading >
               {{$index+1}}. {{ mission.title}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <p>id: {{results[$index].id}}</p>
            <p>start: {{results[$index].start}}</p>
            <p>image: {{results[$index].image}}</p>
            <p>battery status: {{results[$index].batteryStatus}}</p>
        </div>
    </uib-accordion>

</div>