<div>
    <style>
        video#bgvid  {
        background: url("/load.jpg") no-repeat;
        background-size: cover;
        }
    </style>


        <script type="text/ng-template" id="group-template.html">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span</a>
                </h4>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </script>
        <div class="alert alert-info alert-mission-list" ng-show="$ctrl.message"  align="center">
            <strong>You have not run any missions yet!</strong>
        </div>
        <uib-accordion close-others="oneAtATime" ng-repeat="missionId in $ctrl.missionIds ">
            <div uib-accordion-group class="panel-default" is-open="status.open" ng-click="$ctrl.getResults(missionId)">
                <uib-accordion-heading >{{missionId}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                </uib-accordion-heading>

                    <p>Drone's coordinates at the beginning:</p>
                    <p>x: {{$ctrl.mission.startNavigationData.x}}</p>
                    <p>y: {{$ctrl.mission.startNavigationData.y}}</p>
                    <p>z: {{$ctrl.mission.startNavigationData.z}}</p>

                    <p>Drone's coordinates at the end:</p>
                    <p>x: {{$ctrl.mission.finishNavigationData.x}}</p>
                    <p>y: {{$ctrl.mission.finishNavigationData.y}}</p>
                    <p>z: {{$ctrl.mission.finishNavigationData.z}}</p>

                    <p>Battery status: </p>
                    <div class="progress" style="width: 640px">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{$ctrl.mission.batteryStatus}}%;">
                            {{$ctrl.mission.batteryStatus}}%
                        </div>
                    </div>
                    <div id="slides_control">
                        <div uib-carousel active="$ctrl.activeSlide" no-wrap="noWrapSlides">
                            <div uib-slide ng-repeat="image in $ctrl.mission.images track by $index" index="$index">
                                <img ng-src="data:image/png;base64,{{image.imageBase64}}">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div >
                        <video width="640" height="365"
                               http-src="{{$ctrl.videoUrls[missionId]}}"
                               type="video/mp4"
                               controls id="bgvid">
                        </video>
                    </div>


                    <div>
                        <button class="btn btn-warning" ng-click="$ctrl.publish()" ng-hide="$ctrl.button">Publish</button>
                        <button class="btn btn-danger" ng-click="$ctrl.redo()" ng-hide="$ctrl.button">Redo</button>
                    </div>
                    <div class="alert alert-danger alert-mission-list" role="alert" ng-show="$ctrl.error">
                        {{$ctrl.error}}
                    </div>
                    <div class="alert alert-success alert-mission-list" role="alert" ng-show="$ctrl.success">
                        {{$ctrl.success}}
                    </div>


        </uib-accordion>
    </div>
</div>

<!--</body>
</html>-->