<div class="login-panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="msi-signin">
                <form>
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputUsername"
                           class="form-control msi-input-username"
                           placeholder="Username" required autofocus
                           ng-model="$ctrl.username">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword"
                           class="form-control msi-input-password" placeholder="Password" required
                           ng-model="$ctrl.password">
                    <button class="btn btn-lg btn-block btn-raised btn-primary" type="submit" ng-click="$ctrl.login()">
                        Sign in
                    </button>

                    <button class="btn btn-lg btn-block btn-raised btn-primary" type="submit" ng-click="$ctrl.goToRegistration()">
                        Sign up
                    </button>

                        <div class="alert alert-danger login-alert" role="alert" ng-show="$ctrl.error">{{$ctrl.error}}</div>

                </form>
            </div>
        </div>
    </div>
</div>
