<div >
    <h3 align="center">Orders</h3>
    <table table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
                <td >
                    <a style="cursor:pointer" ng-click="$ctrl.sortBy('submissionDate')">
                        Date
                        <span ng-show="$ctrl.sortType == 'submissionDate' && !$ctrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="$ctrl.sortType == 'submissionDate' && $ctrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </td>

            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>
                <select ng-model="selected">
                    <option value="Accepted">Accepted</option>
                    <option value="InProgress">In progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Declined">Declined</option>
                    <option value="Pending">Pending</option>
                    <option value="">All</option>
                </select>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "order in $ctrl.orders | orderBy : $ctrl.sortType : $ctrl.sortReverse | filter : selected ">
            <td>{{order.id}}</td>
            <td>{{order.submissionDate | date:'yyyy.MM.dd'}}</td>
            <td>{{order.fullName}}</td>
            <td>{{order.email}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.orderState}}</td>
            <td><button type="button" class="btn btn-success" ng-click="$ctrl.acceptOrder(order.id)">accept</button></td>
            <td><button type="button" class="btn btn-danger" ng-click="$ctrl.declineOrder(order.id)">decline</button></td>
        </tr>
        </tbody>
    </table>

</div>


