
<div class="transparent msi-home-page">
    <div class="row">
        <video autoplay loop poster="sample.png" id="bgvid">
            <source src="drone.mp4" type="video/mp4">
        </video>
        <div class="logo">
            <h1>Drone Services</h1>
            <p>Javainiai  Inc. &#174 </p>
          <!--  <h1>The New Journey Begins</h1>-->

        </div>




        <!--  <div class="myButton"></div>-->
        <div class="logo">
           <!-- <div class="row">
                <div class="col-xs-5">
                    <div style="margin-left:20px ">
                    <img src="/drone.jpg"  type="image/jpg"  width="300" height="200" >
                    </div>
                </div>

                <div class="col-xs-6">
                    <p>
                        Like so many organizations these days, Javainiai is a company in transition.
                        It was until recently a traditional boxed software company selling licenses.
                        Yet its own business model disruption is only part of the story.
                    </p>
                </div>
            </div>-->


            <uib-accordion class="uib-accordion" close-others="oneAtATime">

                <div uib-accordion-group  class="uib-accordion " heading="TRY IT TODAY" >


                    <uib-accordion close-others="oneAtATime"   class="msi-container" >
                        <div uib-accordion-group class="groupStyle" heading="Registration" >
                            <div class="registerForm">
                                <new-user></new-user>
                            </div>

                        </div>
                        <div uib-accordion-group class="groupStyle" heading="Login" >
                            <div class="registerForm">
                                <login></login>
                            </div>
                        </div>




                    </uib-accordion>
                </div>






            </uib-accordion>







                <div class="logo">
                    <p>Customers Feedback</p>
                </div>

            <div class="row">
                <div class="col-xs-12">

                   <div style="margin-left: 40px">
                       <div id="slides_control">
                           <div uib-carousel active="$ctrl.activeSlide"  no-wrap="noWrapSlides">
                               <div uib-slide ng-repeat="image in $ctrl.images track by $index" index="$index">

                                   <div>
                                       <img ng-src="/{{image.name}}" width="150" height="150" class="img-circle">
                                       <p style="color: white;"> Through Free Code Camp, I built a robust and highly functional web app for a nonprofit. This led me to getting a fantastic job.</p>

                                   </div>


                               </div>
                           </div>
                       </div>

                   </div>

                </div>
            </div>
            < <div class="myButton"></div>
</div>









   <!-- <div align="center">
        <div class="logo">
            <p>Customers Feedback</p>
        </div>
        <div class="row">

            <div class="col-xs-2">
                <img src="/mark.jpg"   type="image/jpg"  width="100" height="100" class="img-circle">
                <p>Through Free Code Camp, I built a robust and highly functional web app for a nonprofit. This led me to getting a fantastic job.</p>
            </div>
            <div class="col-xs-2">
                <img src="/zygis.jpg"   type="image/jpg"  width="100" height="100" class="img-circle">
                <p>Free Code Camp's a great way for disabled veterans like me to retrain. I'm receiving engineering job offers, and I haven't even finished yet.</p>
            </div>
            <div class="col-xs-2">
                <img src="/mark.jpg"   type="image/jpg"  width="100" height="100" class="img-circle">
                <p>I started Free Code Camp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.</p>
            </div>
            <div class="col-xs-2">
                <img src="/mark.jpg"   type="image/jpg"  width="100" height="100" class="img-circle">
                <p>I started Free Code Camp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.</p>
            </div>
            <div class="col-xs-2">
                <img src="/mark.jpg"   type="image/jpg"  width="100" height="100" class="img-circle">
                <p>I started Free Code Camp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.</p>
            </div>
            <div class="col-xs-2">
                <img src="/mark.jpg"   type="image/jpg"  width="100" height="100" class="img-circle">
                <p>I started Free Code Camp with zero knowledge of web development. 6 months later, I landed my first job as a back end engineer.</p>
            </div>
        </div>
    </div>-->








