
<div class="transparent msi-home-page">
    <div class="row">
        <video autoplay loop poster="sample.png" id="bgvid">
            <source src="drone.mp4" type="video/mp4">
        </video>
        <div class="logo">
            <h1>Drone Services</h1>
            <p>Javainiai  Inc. &#174 </p>
          <!--  <h1>The New Journey Begins</h1>-->
        </div>





        <!--  <div class="myButton"></div>-->
<!--
        <div class="logo">
-->



                <!-- end of panel -->


            <uib-accordion class="uib-accordion" close-others="oneAtATime">

                <div uib-accordion-group  class="uib-accordion " heading="TRY IT TODAY" >
                    <div class="registerForm">
                        <new-user></new-user>
                    </div>
                    



                    <!--<uib-accordion close-others="oneAtATime"   class="msi-container" >
                        <div uib-accordion-group class="groupStyle" heading="Registration" >
                            <div class="registerForm">
                                <new-user></new-user>
                            </div>-->


                        <div uib-accordion-group class="groupStyle" heading="Login" >
                            <div class="registerForm">
                                <login></login>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </uib-accordion>

        <div class="logo">
            <p>Customers Feedback</p>
        </div>

           <!-- <div class="row">
                <div class="col-xs-12">
                   <div style="margin-left: 40px">
                       <div id="slides_control">
                           <div uib-carousel active="$ctrl.activeSlide"  no-wrap="noWrapSlides">
                               <div uib-slide ng-repeat="image in $ctrl.images track by $index" index="$index">
                                   <div>
                                       <img ng-src="/{{image.name}}" width="150" height="150" class="img-circle">
                                       <p style="color: white;"> Through Free Code Camp, I built a robust and highly functional web app for a nonprofit. This led me to getting a fantastic job.</p>

                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
-->
<!--
             <div class="myButton"></div>
-->
    </div>
</div>
