.msi-home-page {
    background-color: rgba(0, 150, 136, 0);

    video#bgvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;

        background-size: cover;
    }

    video { display: block; }

    .myButton{
        color :white;
        margin:0 auto;
        width:300px;
        height:300px;

    }

    .logo{
        height: auto;
        background-color: rgba(0, 150, 136, 0.6);
        width: 700px;
        margin-left: auto;
        margin-right: auto;

    }

    .logo h1  {
        text-align:center;
        color :white;
        font-size: 450%;
    }

     .logo p   {
        text-align:center;
        color :white;
        font-size: 150%;
    }

    .transparent{
    background-color: rgba(0, 150, 136, 0.4);
    }

    .uib-accordion {
      width: 500px;
      background-color: rgba(0, 150, 136, 0.4);
      margin-left: auto;
         margin-right: auto;
    }

    .panel-title{
        font-size: 20px;
        text-align: center;
        color: #009688;
    }

    .panel-body{
           margin-left: auto;
           margin-right: auto;

    }

    .panel panel-primary{

        .panel-body{
               margin-left: 0;
               margin-right: 0;
               width: 300px;
        }


    }

    .groupStyle{
    .panel-body{
        width: 300px;
        margin:0px;
        }

    }


    .registerForm{
        width: 320px;
        .panel-body{
        width:inherit;
        }
    }
    .groupStyle{

    }
}

