<!DOCTYPE html>
<html>
<div class="msi-registration-form">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form name="userForm" ng-submit="submitForm()" novalidate>

                    <div class="form-group">
                        <h2>Create new user</h2>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid  && !userForm.username.$pattern }">
                        <label>User name</label>
                        <input placeholder="User name" ng-pattern="/^\S*$/" type="text" name="username" class="form-control" ng-model="$ctrl.user.username"  ng-minlength="2">
                        <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        <p ng-show="userForm.username.$error.pattern" class="help-block">Please enter a valid user name. No spaces are allowed </p>
                    </div>

                    <div class="form-group"ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                        <label>Name</label>
                        <input placeholder="Name" type="text" name="name" class="form-control" ng-model="$ctrl.user.name"ng-pattern="/^([a-zA-Z ]){1,25}$/" required ng-minlength="1" >
                        <p ng-show="userForm.name.$error.required && !userForm.name.$pristine" class="help-block">You name must consist at least from 1 character.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label>Email</label>
                        <input placeholder="Email"type="email" name="email" class="form-control" ng-model="$ctrl.user.email">
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pattern}">
                        <label>Phone </label>
                        <input  placeholder="+370" ng-pattern="/^(\+370) *(\d{8})$/"type="text" name="phone" class="form-control" ng-model="$ctrl.user.phone" >
                        <p ng-show="userForm.phone.$error.pattern" class="help-block">Enter a valid phone number.</p>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error' : userForm.password.$invalid}">
                        <label class="control-label" for="password">Password</label>
                        <input placeholder="Password"id="password" name = "password" type="password" ng-minlength="6" class="form-control" ng-model="$ctrl.user.password">
                        <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short. It should be at least 6 symbols.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.password2.$dirty && $ctrl.doPasswordNotMatch()}">
                        <label class="control-label" for="password2">Confirm password</label>
                        <input placeholder="Confirm password"id="password2" name="password2" type="password" required ng-maxlength="25" class="form-control" ng-model="$ctrl.passwordRepeat">
                        <p ng-show="userForm.password2.$dirty && $ctrl.doPasswordNotMatch()" class="help-block">Passwords do not match.</p>
                    </div>
                    <div class="form-group">
                        <button id="signupSubmit" type="submit" ng-click="$ctrl.create()" class="btn btn-info btn-block" ng-disabled="userForm.$invalid && !$ctrl.doPasswordNotMatch()">Create your account</button>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-repeat="error in $ctrl.errors">
                        {{error}}
                    </div>

                    <hr>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

</html>