form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.msi-registration-form {
    max-width: 360px;
    margin: auto;

    .alert{
    width:340px;
     }
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;

  hr {
    margin: 7px 0px;
    width: 35%;
  }
}

.left { float: left; }

.right { float: right; }

.registration-alert {
     margin-bottom: 10px;
     max-width: 340px;
  }