.table{

    td{
      padding:5px;
    }
}
.login_box1 {
    display: inline-block;
    margin-right: 2px;
    width: 120%;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    padding: 10px;
}
.login_box2 {
         position: absolute;
         left: 665px;
         width: 340px;
         height: 340px;
         border: 6px solid #009688;
         padding: 10px;
         box-shadow: 5px 5px 5px #888888;
         //margin-top: 60px;

}
form { margin: 0px 10px;
}

.panel-body {
    padding: 15px;
    width: 380px;
}
.glyphicon-remove{
 color : red;
}

