<!DOCTYPE html>
<html>
<div class="container">
    <div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form name="orderForm" ng-submit="submitForm()" novalidate>

                        <div class="form-group">
                            <h2>Create new order</h1>
                            </h2>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.name.$invalid && !orderForm.name.$pristine && !orderForm.name.$pattern }">
                            <label>Name</label>
                            <input placeholder="Name" type="text" name="name" class="form-control" ng-model="$ctrl.order.name"ng-pattern="/^([a-zA-Z ]){2,30}$/">
                            <p ng-show="orderForm.name.$invalid && !orderForm.name.$pattern" class="help-block">You name must consist at least from 3 characters.</p>
                            <p ng-show="orderForm.name.$error.pattern" class="help-block">You name must consist at least from 3 characters.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.email.$invalid && !orderForm.email.$pristine }">
                            <label>Email</label>
                            <input placeholder="Email"type="email" name="email" class="form-control" ng-model="$ctrl.order.email">
                            <p ng-show="orderForm.email.$invalid && !orderForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.phone.$invalid && !orderForm.phone.$pattern}">
                            <label>Phone </label>
                            <input  placeholder="+3706" ng-pattern="/^(\+3706) *(\d{7})$/"type="text" name="phone" class="form-control" ng-model="$ctrl.order.phone" >
                            <p ng-show="orderForm.phone.$error.pattern" class="help-block">Enter a valid phone number.</p>
                        </div>

                        <div class="form-group">
                            <button id="signupSubmit" type="submit" ng-click="$ctrl.create()" class="btn btn-info btn-block" ng-disabled="orderForm.$invalid">Place your order</button>
                        </div>

                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>