
<div class="msi-order-form">
    <div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form name="orderForm" ng-submit="submitForm()" novalidate>
                        <div class="form-group">
                            <h2>Create new order</h1>
                            </h2>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.missionName.$invalid && !orderForm.missionName.$pristine }">
                            <label>Mission name</label>
                            <input placeholder="Mission name" type="text" name="missionName" class="form-control" ng-model="$ctrl.order.missionName"  ng-minlength="5" ng-maxlength="30"required>
                            <p ng-show="orderForm.missionName.$invalid && !orderForm.missionName.$pristine" class="help-block">Mission name must consist from 5 to 30 characters.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.fullName.$invalid && !orderForm.fullName.$pristine}">
                            <label>Full name</label>
                            <input placeholder="Full name" type="text" name="fullName" class="form-control" ng-model="$ctrl.order.fullName" ng-minlength="1" ng-maxlength = "60" required>
                            <p ng-show="orderForm.fullName.$invalid && !orderForm.fullName.$pristine" class="help-block">Mission name must consist from 1 to 60 characters.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.email.$invalid && !orderForm.email.$pristine }">
                            <label>Email</label>
                            <input placeholder="Email"type="email" name="email" class="form-control" ng-model="$ctrl.order.email" ng-maxlength="60" required>
                            <p ng-show="orderForm.email.$invalid && !orderForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.phone.$invalid && !orderForm.phone.$pattern}">
                            <label>Phone </label>
                            <input  placeholder="+370" ng-pattern="/^(\+(370+|3705)) *(\d{8})$/"type="text" name="phone" class="form-control" ng-model="$ctrl.order.phone" required >
                            <p ng-show="orderForm.phone.$error.pattern" class="help-block">Enter a valid phone number.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : orderForm.details.$invalid && !orderForm.details.$pristine && !orderForm.details.$pattern }">
                            <label>Details</label>
                            <textarea placeholder="Details" type="text" name="details" class="form-control" ng-model="$ctrl.order.details"ng-maxlength="255"></textarea>
                            <p ng-show="orderForm.details.$error.maxlength" class="help-block">Details must not exceed 255 characters.</p>
                        </div>
                        <div  class="form-group">
                            <button id="signupSubmit" type="submit" name="click" ng-click="$ctrl.createOrder()" class="btn btn-info btn-block" ng-disabled="orderForm.$invalid">Place your order</button>
                            <p></p>
                            <div class="alert alert-success" ng-show="$ctrl.message" align="center"><strong>Order created successfully!</strong></div>
                            <div class="alert alert-danger" ng-show="$ctrl.error" align="center"><strong>Something went wrong</strong></div>
                        </div>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

