.msi {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #eee;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

.navbar .navbar-collapse {
  text-align: center;
}

.msi-status {
    padding: 21px;

    &.msi-verified {
        background: rgba(173, 222, 151, 1);
    }

    &.msi-unverified {
        background: rgba(255,0,0, 0.9);
    }
}


*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active {

    outline:none;
    outline: 0;
}