.msi {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;

}

nav {
     width: 100%;
     height: 40px;
     background: -webkit-linear-gradient(#E4E9F0, #E4E9F0,#E4E9F0, #E4E9F0, #E4E9F0);
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.msi-status {
    padding: 15px;

    &.msi-verified {
        background: rgba(173, 222, 151, 0.5);
    }

    &.msi-unverified {
        background: rgba(222, 151, 151, 0.83);
    }
}