.msi {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #eee;


}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.msi-status {
    padding: 15px;

    &.msi-verified {
        background: rgba(173, 222, 151, 0.5);
    }

    &.msi-unverified {
        background: rgba(222, 151, 151, 0.83);
    }
}