
    <h1 align="center">User roles</h1>
    <table class="table" >
        <thead>
        <tr>
            <th>#</th>
            <th>username</th>
            <th>customer</th>
            <th>operator</th>
            <th>admin</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr ng-repeat="role in $ctrl.roles">
            <td>
                {{$index + 1 }}
            </td>
            <td>
                {{role.username}}
            </td>
            <td>
                <div>
                    <input type="radio" id='customer' ng-model="role.authority" value="ROLE_CUSTOMER" ng-change="$ctrl.update($index)">
                </div>
            </td>
            <td>
                <div>
                    <input type="radio" id='operator' ng-model="role.authority" value="ROLE_OPERATOR" ng-change="$ctrl.update($index)">
                </div>
            </td>
            <td>
                <div>
                    <input type="radio" id='admin' ng-model="role.authority" value="ROLE_ADMIN" ng-change="$ctrl.update($index)">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-danger" role="alert" ng-show="$ctrl.error">
        {{$ctrl.error}}
    </div>
    <div class="alert alert-success" role="alert" ng-show="$ctrl.success">
        {{$ctrl.success}}
    </div>
