
<div>
    <div>
        <script type="text/ng-template" id="group-template.html">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </script>
        <div class="alert alert-info" ng-show="$ctrl.message"  align="center">
            <strong>You have not run any missions yet!</strong>
        </div>

        <div uib-accordion-group class="panel-default"  >
            <uib-accordion-heading>

                <div  class="list_header">
                    <ul>
                        <li>ID</li>
                        <li>Name</li>
                        <li>Date</li>
                        <li>Status</li>

                    </ul>
                </div>

            </uib-accordion-heading>
        </div>
        <uib-accordion close-others="oneAtATime" ng-repeat="mission in $ctrl.missions | orderBy:'missionApplicationDate'">


            <div uib-accordion-group class="panel-default" is-open="status.open">



                <uib-accordion-heading >

                    <div  class="list_header">
                        <ul>
                            <li>{{mission.id}}</li>
                            <li>{{mission.missionName}}</li>
                            <li>{{mission.missionApplicationDate}}</li>
                            <li>{{mission.missionStatus}}</li>

                        </ul>


                    </div>

                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>




                </uib-accordion-heading>


                <div id="slides_control">
                    <div>
                        <uib-carousel active="$ctrl.activeSlide">
                            <uib-slide ng-repeat="image in mission.images" index="$index">
                                <img ng-src="data:image/png;base64,{{image.imageBase64}}">
                                <div class="carousel-caption">
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                </div>



            </div>

        </uib-accordion>

    </div>
</div>
