#slides_control{
    width: 640px;
}

.msi-content{
    width: 700px;
    margin: auto;
}
.alert {
   height: 50px;
}

.list_header{
    display:inline-block;
}

.list_header ul{

    list-style-type: none;
    padding: 0px;
}

.list_header li{
    display:inline-block;
    text-align: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 00px;
    padding-left: 0px;
    width: 140px;
    outline:none;
    overflow: hidden;
    text-overflow: ellipsis;

}

.login_box3 {
         background:#eee;
         height: 430px;
         width: 310px;
         border: 6px solid #009688;
         margin-top: 30px;
}
.myVideo{
    align:center;
}
.customer_details table, th, td {
   width: 300px;
   margin: 0px;
}

.alert-order-list {
    width:97%;
    height: 50px;
}
