
<div>
    <div>
        <div class="alert alert-info" ng-show="$ctrl.message"  align="center">
            <strong>You have not submitted any orders yet!</strong>
        </div>
        <uib-accordion close-others="oneAtATime" >
            <div uib-accordion-group class="panel-default"  is-disabled="true" >
                <uib-accordion-heading>

                    <div  class="list_header">
                        <ul >
                            <li>ID</li>
                            <li>Name</li>
                            <li>Submission Date</li>
                            <li>Status</li>

                        </ul>
                    </div>

                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default"  is-open="status.open" ng-click="$ctrl.getResults(order.id)" ng-repeat="order in $ctrl.orders "  is-disabled="order.status != 'Completed' ">
                <uib-accordion-heading >

                    <div  class="list_header">
                        <ul>
                            <li>{{order.id}}</li>
                            <li>{{order.missionName}}</li>
                            <li>{{order.submissionDate | date:'yyyy.MM.dd'}}</li>
                            <li>{{order.status}}</li>

                        </ul>
                    </div>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>

                </uib-accordion-heading>

                    <div id="slides_control">
                        <div>
                            <uib-carousel active="$ctrl.activeSlide">
                                <uib-slide ng-repeat="image in $ctrl.result.images" index="$index">
                                    <img ng-src="data:image/png;base64,{{image.imageBase64}}">
                                    <div class="carousel-caption">
                                    </div>
                                </uib-slide>
                            </uib-carousel>
                        </div>
                    </div>

            </div>
        </uib-accordion>
    </div>
</div>
