#slides_control{
    width: 640px;
}

.msi-content{
    width: 700px;
    margin: auto;
}
.alert {
   width:120%;
   height: 50px;
}


.list_header{
    display:inline-block;



}




.list_header ul{


    list-style-type: none;
    padding: 0px;



}


.list_header li{
    display:inline-block;
    text-align: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 00px;
    padding-left: 0px;
    width: 140px;
     outline:none;

}





.customer_details table, th, td {
   width: 300px


}