form { margin: 0px 10px;

}

.msi-order-form {
    width: 360px;
    margin: auto;

    .alert{
        width:340px;

    }
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;

  hr {
    margin: 7px 0px;
    width: 35%;
  }
}

.left { float: left; }

.right { float: right; }

.active-tab {
    background-color: rgba(255, 255, 255, 0.2) !important;
}