
<!DOCTYPE html>
<html>
<div class="msi-registration-form">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                    <div class="form-group">
                        <h4><center>Please do not share the token</center></h4>
                       <center><button id="signupSubmit" type="submit" ng-click="$ctrl.generateToken(); $ctrl.getStatus();" class="btn btn-lg btn-block btn-raised btn-primary">Generate new token</button></center>
                        <hr>
                        <h5>Your token: {{$ctrl.token}}</h5>
                        <hr>
                        <h4><center>{{$ctrl.message}}</center></h4>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

</html>

